<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <title>Welcome to Codessential</title>
  </head>
  <body>
    <header class="row">
      <section class="main-heading four columns">
        <img src="public/images/codessential_logo.png" alt="codessential">
        <h1 class="codessential">Codessential</h1>
      </section>
      <div class="btn-container eight columns">
        <button class="button-primary run">
          <i class="fas fa-play"></i> Run
        </button>
        <button class="button settings">
          <i class="fas fa-cog"></i> Settings
        </button>
        <div class="popup">
          <div class="popup-content">
            <div class="row popup-header">
              <h3>General</h3>
            </div>
            <div class="row popup-option theme">
              Theme:
              <div class="button darkness">Lightness</div>
              <div class="button lightness">Darkness</div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="row">
      <section class="drawer two columns">
        <section class="row"><h2>Project Drawer</h2></section>
        <div class="row">Files</div>
      </section>
      <div class="text-editor six columns">
        <form method="post">
          <textarea class="codeditor" rows="10"></textarea>
        </form>
      </div>
      <section class="output-container four columns">
        <h2>OUTPUT</h2>
        <code class="output">
          Go ahead, feed the editor some code...
        </code>
      </section>
    </main>
  </body>
</html>
