@import '../../node_modules/codemirror/theme/monokai.css';
@import '../../node_modules/codemirror/theme/mdn-like.css';

body { background-color: #20262e; }
header { padding: 1.25em; }
h1 {
  font-size: 1.5em;
  color: #fff;
}
/* .background */
.drawer h2, .output h2 {
  font-size: 1.1em;
  text-align: center;
  color: #eee;
}
.drawer {
  background: #272822;
  padding: .5em;
}
.output {
  background: #272822;
  padding: .5em;
}

.button { color: #bbb; }
.button:focus, .button:hover { color: #ddd; }

.popup {
  display: none;
  position: relative;
}
.popup .popup-content {
  position: absolute;
  z-index: 5;
  top: 5px;
  left: -100%;
  display: inline-block;
  /* overflow: auto; */

  padding: 2% 10%;
  border-radius: 10px 0 0 10px;
  background: #fff;
  color: #222;

  text-transform: capitalize;
}
.popup .popup-content h3 { font-size: 1em; }
/* The popup arrow*/
.popup .popup-content:after {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;

  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

/* Popup header */
.popup-option {
  font-weight: normal;
  text-transform: capitalize;
  color: #000;
}
.popup-option .fa-toggle-off {
  font-size: 20px;
  color: grey;
}
